/* logn-page */


/* 2-120 */

.bk-login-color {
    background-color: #f1f1f1;
    width: 100%;
    height: 800px;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
   
}

.box-mian {
    padding: 1%;
    background-color: #fff;
    width: 400px;
    height: 575px;
    display: flex;
    flex-direction: column;
    /* border: #fff 1px solid; */
    border: #1f1f1f 1px solid;
    border-radius: 5%;
}

.text-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-text input {
    margin: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #f4bf00;
}

.rember-forget {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#forget {
    font-size: 14px;
}

#forget:hover {
    color: #f4bf00;
}

.login-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    margin-top: 5%;
    background-color: #f4bf00;
    text-align: center;
    color: black;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.login-btn:hover {
    color: #fff;
}

.fa-right-to-bracket {
    padding-left: 5%;
}

#login-with {
    text-align: center;
    margin-top: 5%;
    border-bottom: 1px #f4bf00 solid;
}

.social-media-btn {
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    margin-top: 5%;
    width: 50px;
    height: 50px;
    background-color: #f4bf00;
    border: none;
}

.social-media-icon:hover {
    color: #fff;
}

.sign-up {
    padding-top: 10%;
    font-size: 14px;
}

.sign-up a:hover {
    color: #f4bf00;
}


.drop-profile{
    background-color: #f4bf00;
    width: 150px;
    height: 170px;
    position: absolute;
    right: 315px;
    top: 60px ;
    /* display: none; */

}

.text-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.text-pro a{
    padding: 5%;
    text-decoration: none;
    color: #273c66;
}

.text-pro a:hover{
    color: #fff;
}

/*  */

.grander {
    display: flex;
    width: 250px;
    justify-content: flex-start;
    /* background-color: red; */
    /* justify-content: flex-start; */
}

#grander-radio {
    width: 15px;
}

#text-grander {
    font-size: 20px;
    padding-top: 4%;
}

.box-mian-seller {
    padding: 1%;
    background-color: #fff;
    width: 400px;
    height: 660px;
    display: flex;
    flex-direction: column;
    border: #fff 1px solid;
    border-radius: 5%;
}

