:root {
  --main-blue: #273c66;
  --main-yellow: #f4bf00;
  --active-label: #3a548a;
}

#side-bar__container {
  /* background-color: red; */
  padding: 0 12px;
  height: 566px;
  margin: 5rem 0;
}

#user-info {
  height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 1.2rem;
  color: #f5c61b;
  border-bottom: #f5c61b 2px solid;
  /* background-color: red; */
}
#user-info > h5 {
  display: flex;
}

.page-row {
  height: 566px;
  width: 1100px;
  /* border-left: lightgrey 3px solid; */
  background-color: #f1f1f1;
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*  */
#btn-row {
  /* background-color: red; */
  /* width: 150px; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  /* position: absolute; */
  padding-right: 2rem;
  align-items: center;
  z-index: 1;
}

.add-card__btn {
  width: 130px;
  height: 40px;
  background-color: var(--main-yellow);
  border: 0;
  border-radius: 5px;
  color: var(--main-blue);
  font-weight: bolder;
}
.add-card__btn:hover {
  background-color: var(--main-yellow);
  color: white;
}

.card-row {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.card {
  width: 310px;
  height: 220px;
  background-color: var(--main-yellow);
  background-color: white;
  background-color: #1a1a1a;
  margin-left: 2rem;
  border: #866900 2px solid;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-icon {
  margin-left: auto;
}

.card-number,
.card-name {
  color: var(--main-blue);
  color: #f5c61b;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
}

.footer-btn {
  width: 90px;
  height: 40px;
  background-color: #f5c61b;
  background-color: white;
  color: #1a1a1a;
  border-radius: 10px;
  font-weight: 500;
}

.footer-btn:hover {
  color: white;
  color: #f4bf00;
}

/* modal */

.modal-content {
  height: 600px;
  width: 500px;
  margin-top: 5rem;
  background-color: red;
  background-color: #1a1a1a;
}

.modal-title {
  color: #f5c61b;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: black;
  color: #f5c61b;
  outline: none;
  border: none;
  height: 40px;
  padding-left: 1rem;
  width: 400px;
  margin: 0 auto;
}
.input::placeholder {
  color: #f5c61b;
}

.input:focus {
  padding-left: 1rem;
}

.form-label {
  color: #f5c61b;
  margin-top: 20px;
  margin-left: 2.5rem;
}

.selecting {
  display: flex;
}

.selecting > .form-select {
  margin: 0 1rem;
  background-color: black;
  color: #f5c61b;
  border: none;
}

.selecting > .form-select:focus {
  box-shadow: none;
  box-shadow: 0 0 0 0.25px #f5c61b;
}

#month:focus > option:hover{
  background-color: red;
} 

.card-expiry {
  display: flex;
  flex-direction: column;
}
.card-expiry > .form-label {
  margin-left: 1rem;
}

.form-check {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.form-check-label {
  margin-left: 1rem;
  color: #f5c61b;
}

.save-cancel {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#save,
#cancel {
  width: 90px;
  height: 40px;
  background-color: #1a1a1a;
  color: #f5c61b;
  border: 1px solid #f5c61b;
  font-weight: 500;
  border-radius: 10px;
}

#save:hover,
#cancel:hover {
  background-color: #232323;
  color: #f5c61b;
  font-weight: bolder;
}

/* modal */


#ul-sidenav > .lists-side:nth-child(3) > .active-sidebar{
  background-color: #3d3d3d;
  color: #f4bf00;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 300px;
  border-right: #f4bf00 4px  solid;
}

.active-sidebar:hover{
  background-color: #3d3d3d;
  color: #f4bf00;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 300px;
  border-right: #f4bf00 4px  solid;
}



.active-sidebar{
  color: white;
}