#side-bar__container{
    /* background-color: red; */
    padding: 0 12px;
    height: 566px;
    margin: 5rem 0;
  }
  
  #user-info {
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 1.2rem;
    color: #F5C61B;
    border-bottom: #F5C61B 2px solid;
    /* background-color: red; */
  }
  
  .page-row {
    height: 566px;
    width: 1100px;
    /* border-left: lightgrey 3px solid; */
    background-color: #f1f1f1;
    background-color: #1a1a1a;
    display: flex; 
    flex-direction: column;
  }
  



.month-order{
    border-bottom: 2px solid var(--main-yellow);
    border-bottom: 2px solid white;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 6px 0;
    height: 40px;
    width: 100px;
    text-align: center;
    color: var(--main-yellow);
    color: white;
    /* background-color: #395182; */
}

/* .order-info{
    margin-top: 1rem;
} */

.order-date{
    display: flex;
    /* background-color: red; */
    color: var(--main-yellow);
    color: white;
    margin-left: 1rem;
}

.order-details{
    height: 120px;
    width: 99%;
    display: flex;
    margin: 0 auto;
    /* background-color: white; */
    /* border-top: 1px var(--main-yellow) solid; */
    border-bottom: 1px var(--main-yellow) solid;
}

.order-img{
    /* border-right: var(--main-yellow) 1px solid; */
}

.order-information{
    color: white;
}

.order-id,
.item-name,
.item-description{
    margin-left: 1rem;
}

.order-details-btn{
    height: 50px;
    width: 125px;
    text-align: center;
    background-color: var(--main-yellow);
    color: var(--main-blue);
    font-weight: bolder;
    margin: auto 0;
    margin-left: auto;
    border: 0px;
    border-radius: 4px;
}


.order-details-btn:hover{
    color: white;
    background-color: var(--main-yellow);
}




#ul-sidenav > .lists-side:nth-child(2) > .active-sidebar{
    background-color: #3d3d3d;
    color: #f4bf00;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;
    border-right: #f4bf00 4px  solid;
}

.active-sidebar:hover{
    background-color: #3d3d3d;
    color: #f4bf00;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;
    border-right: #f4bf00 4px  solid;
}



.active-sidebar{
    color: white;
  }