:root {
  --main-blue: #273c66;
  --main-yellow: #f4bf00;
  
  --active-label: #3a548a;
  --suggested-color: #2c3333;


  --icons-borders: #588157;
  --icon-hover: #3a5a40;
  --menu-navbar: #faedcd;
  --font-color: #444444;
  --light-font: #394d49;
}

/****************************************************************/

/* right side */
#side-bar__container {
  /* background-color: red; */
  padding: 0 12px;
  height: 566px;
}

#user-info {
  height: 50px;
  width: 1100px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 1.2rem;
  color: #F5C61B;
  border-bottom: #F5C61B 2px solid;

  
  /*  */
  background-color: #F3F4F8;
  background-color: #1a1a1a;
  /* background-color: red; */
}

#user-info > h5 {
  font-size: 1.4rem;
}

.page-row {
  height: 516px;
  width: 1100px;
  /* border-left: lightgrey 3px solid; */
  background-color: #FFFFFF;
  background-color: #F3F4F8;
  background-color: #1a1a1a;
}




