:root{
    --main-blue: #273c66;
    --main-yellow: #f4bf00;
    --active-label: #3a548a;

}


/****************************************************************/


/* right side */

/* right side */
#side-bar__container {
    /* background-color: red; */
    padding: 0 12px;
    height: 566px;
  }
  
  
  
  .page-row {
    height: 566px;
    width: 1100px;
    /* border-left: lightgrey 3px solid; */
    background-color: #f1f1f1;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  #user-info {
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 1.2rem;
    color: #f5c61b;
    border-bottom: #f5c61b 2px solid;
    /* background-color: red; */
  }
  #user-info > h5 {
    display: flex;
  }


/*  */
#change-password{
    color: lightgrey;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 5%;
    margin-top: 2%;

}

.old-password{
    /* background-color: rgb(47, 36, 79); */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    height: 120px;
}

#old-password-label{
    color: var(--main-yellow);
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
    /* background-color: red; */
}
#old-password-input{
    width: 400px;
}

#old-password-text{
    color: white;
    font-weight: 500;
}

/*  */

.new-confirm{
    display: flex;
    /* background-color: rgb(47, 36, 79); */
    margin-top: 2%;
    display: flex;  
    justify-content: space-evenly;
    height: 120px;
    
}


#new-confirm-password-label{
    color: var(--main-yellow);
    font-size: 1.2rem;
    font-weight: 500;
}
.new-confirm-password-input{
    width: 400px;
}

#new-confirm-password-text{
    color: white;
    font-weight: 500;
}

/*  */
.save-btn{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

#save-btn{
    width: 140px;
    height: 50px;
    border: unset;
    border-radius: 15px;
    color: #F5C61B;
    z-index: 1;
    background-color: #1a1a50;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    margin-top: 5%;
    margin-right: 18%;
  }
  
  #save-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 140px;
    height: 50px;
    width: 0;
    border-radius: 15px;
    background-color: #F5C61B;
    z-index: -1;
    transition: all 500ms
   }
  
   #save-btn:hover {
    color: #e8e8e8;
   }
   
   #save-btn:hover::before {
    width: 100%;
   }
    

#old-password-input,
.new-confirm-password-input{
    background-color: #1a1a1a;
    border: 1px solid #f5c61b;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 1%;
    
}


#old-password-input:focus,
.new-confirm-password-input:focus{
    outline: none;
    border: 1px solid #f5c61b;
    box-shadow: none;
    background-color: #1a1a1a;
}


#ul-sidenav > .lists-side:nth-child(5) > .active-sidebar{
    background-color: #3d3d3d;
    color: #f4bf00;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;
    border-right: #f4bf00 4px  solid;
  }
  
  .active-sidebar:hover{
    background-color: #3d3d3d;
    color: #f4bf00;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;
    border-right: #f4bf00 4px  solid;
  }

  .active-sidebar{
    color: white;
  }